              <div class="caneva">
                  <div class="celda primera-linea" rel="0,0"> </div>
                  <div rel="0,1"> </div>
                  <div rel="0,2"> </div>
                  <div rel="0,3"> </div>
                  <div rel="0,4"> </div>
                  <div rel="0,5"> </div>
                  <div rel="0,6"> </div>
                  <div rel="0,7"> </div>
                  <div rel="0,8"> </div>
                  <div rel="0,9"> </div>
                  <div rel="0,10"> </div>
                  <div rel="0,11"> </div>
                  <div rel="0,12"> </div>
                  <div rel="0,13"> </div>
                  <div rel="0,14"> </div>
                  <div rel="0,15"> </div>
                  <div rel="0,16"> </div>
                  <div rel="0,17"> </div>
                  <div rel="0,18"> </div>
                  <div rel="0,19"> </div>
                  <div rel="0,20"> </div>
                  <div rel="0,21"> </div>
                  <div rel="0,22"> </div>
                  <div rel="0,23"> </div>
                  <div rel="0,24"> </div>
                  <div rel="0,25"> </div>
                  <div rel="0,26"> </div>
                  <div rel="0,27"> </div>
                  <div class="celda primera-linea" rel="1,0"> </div>
                  <div rel="1,1"> </div>
                  <div rel="1,2"><svg baseProfile="full" xmlns="http://www.w3.org/2000/svg" version="1.1" style="width:100%; height:100%"><line x1="0" y1="0" x2="100%" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width:3;"></line><line x1="100%" y1="0" x2="0" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width: 3;"></line></svg></div>
                  <div rel="1,3"><svg baseProfile="full" xmlns="http://www.w3.org/2000/svg" version="1.1" style="width:100%; height:100%"><line x1="0" y1="0" x2="100%" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width:3;"></line><line x1="100%" y1="0" x2="0" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width: 3;"></line></svg></div>
                  <div rel="1,4"><svg baseProfile="full" xmlns="http://www.w3.org/2000/svg" version="1.1" style="width:100%; height:100%"><line x1="0" y1="0" x2="100%" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width:3;"></line><line x1="100%" y1="0" x2="0" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width: 3;"></line></svg></div>
                  <div rel="1,5"> </div>
                  <div rel="1,6"> </div>
                  <div rel="1,7"> </div>
                  <div rel="1,8"> </div>
                  <div rel="1,9"> </div>
                  <div rel="1,10"> </div>
                  <div rel="1,11"> </div>
                  <div rel="1,12"> </div>
                  <div rel="1,13"> </div>
                  <div rel="1,14"><svg baseProfile="full" xmlns="http://www.w3.org/2000/svg" version="1.1" style="width:100%; height:100%"><line x1="0" y1="0" x2="100%" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width:3;"></line><line x1="100%" y1="0" x2="0" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width: 3;"></line></svg></div>
                  <div rel="1,15"> </div>
                  <div rel="1,16"> </div>
                  <div rel="1,17"> </div>
                  <div rel="1,18"> </div>
                  <div rel="1,19"> </div>
                  <div rel="1,20"> </div>
                  <div rel="1,21"> </div>
                  <div rel="1,22"> </div>
                  <div rel="1,23"> </div>
                  <div rel="1,24"> </div>
                  <div rel="1,25"> </div>
                  <div rel="1,26"> </div>
                  <div rel="1,27"> </div>
                  <div class="celda primera-linea" rel="2,0"> </div>
                  <div rel="2,1"><svg baseProfile="full" xmlns="http://www.w3.org/2000/svg" version="1.1" style="width:100%; height:100%"><line x1="0" y1="0" x2="100%" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width:3;"></line><line x1="100%" y1="0" x2="0" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width: 3;"></line></svg></div>
                  <div rel="2,2"> </div>
                  <div rel="2,3"> </div>
                  <div rel="2,4"><svg baseProfile="full" xmlns="http://www.w3.org/2000/svg" version="1.1" style="width:100%; height:100%"><line x1="0" y1="0" x2="100%" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width:3;"></line><line x1="100%" y1="0" x2="0" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width: 3;"></line></svg></div>
                  <div rel="2,5"> </div>
                  <div rel="2,6"> </div>
                  <div rel="2,7"> </div>
                  <div rel="2,8"> </div>
                  <div rel="2,9"> </div>
                  <div rel="2,10"> </div>
                  <div rel="2,11"> </div>
                  <div rel="2,12"> </div>
                  <div rel="2,13"> </div>
                  <div rel="2,14"><svg baseProfile="full" xmlns="http://www.w3.org/2000/svg" version="1.1" style="width:100%; height:100%"><line x1="0" y1="0" x2="100%" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width:3;"></line><line x1="100%" y1="0" x2="0" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width: 3;"></line></svg></div>
                  <div rel="2,15"> </div>
                  <div rel="2,16"> </div>
                  <div rel="2,17"> </div>
                  <div rel="2,18"> </div>
                  <div rel="2,19"> </div>
                  <div rel="2,20"> </div>
                  <div rel="2,21"> </div>
                  <div rel="2,22"> </div>
                  <div rel="2,23"> </div>
                  <div rel="2,24"> </div>
                  <div rel="2,25"> </div>
                  <div rel="2,26"> </div>
                  <div rel="2,27"> </div>
                  <div class="celda primera-linea" rel="3,0"> </div>
                  <div rel="3,1"><svg baseProfile="full" xmlns="http://www.w3.org/2000/svg" version="1.1" style="width:100%; height:100%"><line x1="0" y1="0" x2="100%" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width:3;"></line><line x1="100%" y1="0" x2="0" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width: 3;"></line></svg></div>
                  <div rel="3,2"> </div>
                  <div rel="3,3"> </div>
                  <div rel="3,4"><svg baseProfile="full" xmlns="http://www.w3.org/2000/svg" version="1.1" style="width:100%; height:100%"><line x1="0" y1="0" x2="100%" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width:3;"></line><line x1="100%" y1="0" x2="0" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width: 3;"></line></svg></div>
                  <div rel="3,5"> </div>
                  <div rel="3,6"><svg baseProfile="full" xmlns="http://www.w3.org/2000/svg" version="1.1" style="width:100%; height:100%"><line x1="0" y1="0" x2="100%" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width:3;"></line><line x1="100%" y1="0" x2="0" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width: 3;"></line></svg></div>
                  <div rel="3,7"><svg baseProfile="full" xmlns="http://www.w3.org/2000/svg" version="1.1" style="width:100%; height:100%"><line x1="0" y1="0" x2="100%" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width:3;"></line><line x1="100%" y1="0" x2="0" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width: 3;"></line></svg></div>
                  <div rel="3,8"><svg baseProfile="full" xmlns="http://www.w3.org/2000/svg" version="1.1" style="width:100%; height:100%"><line x1="0" y1="0" x2="100%" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width:3;"></line><line x1="100%" y1="0" x2="0" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width: 3;"></line></svg></div>
                  <div rel="3,9"> </div>
                  <div rel="3,10"> </div>
                  <div rel="3,11"> </div>
                  <div rel="3,12"><svg baseProfile="full" xmlns="http://www.w3.org/2000/svg" version="1.1" style="width:100%; height:100%"><line x1="0" y1="0" x2="100%" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width:3;"></line><line x1="100%" y1="0" x2="0" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width: 3;"></line></svg></div>
                  <div rel="3,13"><svg baseProfile="full" xmlns="http://www.w3.org/2000/svg" version="1.1" style="width:100%; height:100%"><line x1="0" y1="0" x2="100%" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width:3;"></line><line x1="100%" y1="0" x2="0" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width: 3;"></line></svg></div>
                  <div rel="3,14"><svg baseProfile="full" xmlns="http://www.w3.org/2000/svg" version="1.1" style="width:100%; height:100%"><line x1="0" y1="0" x2="100%" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width:3;"></line><line x1="100%" y1="0" x2="0" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width: 3;"></line></svg></div>
                  <div rel="3,15"> </div>
                  <div rel="3,16"><svg baseProfile="full" xmlns="http://www.w3.org/2000/svg" version="1.1" style="width:100%; height:100%"><line x1="0" y1="0" x2="100%" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width:3;"></line><line x1="100%" y1="0" x2="0" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width: 3;"></line></svg></div>
                  <div rel="3,17"><svg baseProfile="full" xmlns="http://www.w3.org/2000/svg" version="1.1" style="width:100%; height:100%"><line x1="0" y1="0" x2="100%" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width:3;"></line><line x1="100%" y1="0" x2="0" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width: 3;"></line></svg></div>
                  <div rel="3,18"><svg baseProfile="full" xmlns="http://www.w3.org/2000/svg" version="1.1" style="width:100%; height:100%"><line x1="0" y1="0" x2="100%" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width:3;"></line><line x1="100%" y1="0" x2="0" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width: 3;"></line></svg></div>
                  <div rel="3,19"> </div>
                  <div rel="3,20"><svg baseProfile="full" xmlns="http://www.w3.org/2000/svg" version="1.1" style="width:100%; height:100%"><line x1="0" y1="0" x2="100%" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width:3;"></line><line x1="100%" y1="0" x2="0" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width: 3;"></line></svg></div>
                  <div rel="3,21"><svg baseProfile="full" xmlns="http://www.w3.org/2000/svg" version="1.1" style="width:100%; height:100%"><line x1="0" y1="0" x2="100%" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width:3;"></line><line x1="100%" y1="0" x2="0" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width: 3;"></line></svg></div>
                  <div rel="3,22"><svg baseProfile="full" xmlns="http://www.w3.org/2000/svg" version="1.1" style="width:100%; height:100%"><line x1="0" y1="0" x2="100%" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width:3;"></line><line x1="100%" y1="0" x2="0" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width: 3;"></line></svg></div>
                  <div rel="3,23"> </div>
                  <div rel="3,24"><svg baseProfile="full" xmlns="http://www.w3.org/2000/svg" version="1.1" style="width:100%; height:100%"><line x1="0" y1="0" x2="100%" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width:3;"></line><line x1="100%" y1="0" x2="0" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width: 3;"></line></svg></div>
                  <div rel="3,25"><svg baseProfile="full" xmlns="http://www.w3.org/2000/svg" version="1.1" style="width:100%; height:100%"><line x1="0" y1="0" x2="100%" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width:3;"></line><line x1="100%" y1="0" x2="0" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width: 3;"></line></svg></div>
                  <div class="celda clicked" rel="3,26"><svg baseProfile="full" xmlns="http://www.w3.org/2000/svg" version="1.1" style="width:100%; height:100%"><line x1="0" y1="0" x2="100%" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width:3;"></line><line x1="100%" y1="0" x2="0" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width: 3;"></line></svg></div>
                  <div rel="3,27"> </div>
                  <div class="celda primera-linea" rel="4,0"> </div>
                  <div rel="4,1"><svg baseProfile="full" xmlns="http://www.w3.org/2000/svg" version="1.1" style="width:100%; height:100%"><line x1="0" y1="0" x2="100%" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width:3;"></line><line x1="100%" y1="0" x2="0" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width: 3;"></line></svg></div>
                  <div rel="4,2"><svg baseProfile="full" xmlns="http://www.w3.org/2000/svg" version="1.1" style="width:100%; height:100%"><line x1="0" y1="0" x2="100%" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width:3;"></line><line x1="100%" y1="0" x2="0" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width: 3;"></line></svg></div>
                  <div rel="4,3"><svg baseProfile="full" xmlns="http://www.w3.org/2000/svg" version="1.1" style="width:100%; height:100%"><line x1="0" y1="0" x2="100%" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width:3;"></line><line x1="100%" y1="0" x2="0" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width: 3;"></line></svg></div>
                  <div rel="4,4"><svg baseProfile="full" xmlns="http://www.w3.org/2000/svg" version="1.1" style="width:100%; height:100%"><line x1="0" y1="0" x2="100%" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width:3;"></line><line x1="100%" y1="0" x2="0" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width: 3;"></line></svg></div>
                  <div rel="4,5"> </div>
                  <div rel="4,6"><svg baseProfile="full" xmlns="http://www.w3.org/2000/svg" version="1.1" style="width:100%; height:100%"><line x1="0" y1="0" x2="100%" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width:3;"></line><line x1="100%" y1="0" x2="0" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width: 3;"></line></svg></div>
                  <div rel="4,7"> </div>
                  <div rel="4,8"> </div>
                  <div rel="4,9"><svg baseProfile="full" xmlns="http://www.w3.org/2000/svg" version="1.1" style="width:100%; height:100%"><line x1="0" y1="0" x2="100%" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width:3;"></line><line x1="100%" y1="0" x2="0" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width: 3;"></line></svg></div>
                  <div rel="4,10"> </div>
                  <div rel="4,11"><svg baseProfile="full" xmlns="http://www.w3.org/2000/svg" version="1.1" style="width:100%; height:100%"><line x1="0" y1="0" x2="100%" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width:3;"></line><line x1="100%" y1="0" x2="0" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width: 3;"></line></svg></div>
                  <div rel="4,12"> </div>
                  <div rel="4,13"> </div>
                  <div rel="4,14"><svg baseProfile="full" xmlns="http://www.w3.org/2000/svg" version="1.1" style="width:100%; height:100%"><line x1="0" y1="0" x2="100%" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width:3;"></line><line x1="100%" y1="0" x2="0" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width: 3;"></line></svg></div>
                  <div rel="4,15"> </div>
                  <div rel="4,16"><svg baseProfile="full" xmlns="http://www.w3.org/2000/svg" version="1.1" style="width:100%; height:100%"><line x1="0" y1="0" x2="100%" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width:3;"></line><line x1="100%" y1="0" x2="0" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width: 3;"></line></svg></div>
                  <div rel="4,17"> </div>
                  <div rel="4,18"><svg baseProfile="full" xmlns="http://www.w3.org/2000/svg" version="1.1" style="width:100%; height:100%"><line x1="0" y1="0" x2="100%" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width:3;"></line><line x1="100%" y1="0" x2="0" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width: 3;"></line></svg></div>
                  <div rel="4,19"> </div>
                  <div rel="4,20"><svg baseProfile="full" xmlns="http://www.w3.org/2000/svg" version="1.1" style="width:100%; height:100%"><line x1="0" y1="0" x2="100%" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width:3;"></line><line x1="100%" y1="0" x2="0" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width: 3;"></line></svg></div>
                  <div rel="4,21"> </div>
                  <div rel="4,22"><svg baseProfile="full" xmlns="http://www.w3.org/2000/svg" version="1.1" style="width:100%; height:100%"><line x1="0" y1="0" x2="100%" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width:3;"></line><line x1="100%" y1="0" x2="0" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width: 3;"></line></svg></div>
                  <div rel="4,23"> </div>
                  <div rel="4,24"><svg baseProfile="full" xmlns="http://www.w3.org/2000/svg" version="1.1" style="width:100%; height:100%"><line x1="0" y1="0" x2="100%" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width:3;"></line><line x1="100%" y1="0" x2="0" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width: 3;"></line></svg></div>
                  <div rel="4,25"> </div>
                  <div rel="4,26"><svg baseProfile="full" xmlns="http://www.w3.org/2000/svg" version="1.1" style="width:100%; height:100%"><line x1="0" y1="0" x2="100%" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width:3;"></line><line x1="100%" y1="0" x2="0" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width: 3;"></line></svg></div>
                  <div rel="4,27"> </div>
                  <div class="celda primera-linea" rel="5,0"> </div>
                  <div rel="5,1"><svg baseProfile="full" xmlns="http://www.w3.org/2000/svg" version="1.1" style="width:100%; height:100%"><line x1="0" y1="0" x2="100%" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width:3;"></line><line x1="100%" y1="0" x2="0" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width: 3;"></line></svg></div>
                  <div rel="5,2"> </div>
                  <div rel="5,3"> </div>
                  <div rel="5,4"><svg baseProfile="full" xmlns="http://www.w3.org/2000/svg" version="1.1" style="width:100%; height:100%"><line x1="0" y1="0" x2="100%" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width:3;"></line><line x1="100%" y1="0" x2="0" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width: 3;"></line></svg></div>
                  <div rel="5,5"> </div>
                  <div rel="5,6"><svg baseProfile="full" xmlns="http://www.w3.org/2000/svg" version="1.1" style="width:100%; height:100%"><line x1="0" y1="0" x2="100%" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width:3;"></line><line x1="100%" y1="0" x2="0" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width: 3;"></line></svg></div>
                  <div rel="5,7"> </div>
                  <div rel="5,8"> </div>
                  <div rel="5,9"><svg baseProfile="full" xmlns="http://www.w3.org/2000/svg" version="1.1" style="width:100%; height:100%"><line x1="0" y1="0" x2="100%" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width:3;"></line><line x1="100%" y1="0" x2="0" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width: 3;"></line></svg></div>
                  <div rel="5,10"> </div>
                  <div rel="5,11"><svg baseProfile="full" xmlns="http://www.w3.org/2000/svg" version="1.1" style="width:100%; height:100%"><line x1="0" y1="0" x2="100%" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width:3;"></line><line x1="100%" y1="0" x2="0" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width: 3;"></line></svg></div>
                  <div rel="5,12"><svg baseProfile="full" xmlns="http://www.w3.org/2000/svg" version="1.1" style="width:100%; height:100%"><line x1="0" y1="0" x2="100%" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width:3;"></line><line x1="100%" y1="0" x2="0" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width: 3;"></line></svg></div>
                  <div rel="5,13"><svg baseProfile="full" xmlns="http://www.w3.org/2000/svg" version="1.1" style="width:100%; height:100%"><line x1="0" y1="0" x2="100%" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width:3;"></line><line x1="100%" y1="0" x2="0" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width: 3;"></line></svg></div>
                  <div rel="5,14"> </div>
                  <div rel="5,15"> </div>
                  <div rel="5,16"><svg baseProfile="full" xmlns="http://www.w3.org/2000/svg" version="1.1" style="width:100%; height:100%"><line x1="0" y1="0" x2="100%" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width:3;"></line><line x1="100%" y1="0" x2="0" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width: 3;"></line></svg></div>
                  <div rel="5,17"> </div>
                  <div rel="5,18"> </div>
                  <div rel="5,19"> </div>
                  <div rel="5,20"><svg baseProfile="full" xmlns="http://www.w3.org/2000/svg" version="1.1" style="width:100%; height:100%"><line x1="0" y1="0" x2="100%" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width:3;"></line><line x1="100%" y1="0" x2="0" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width: 3;"></line></svg></div>
                  <div rel="5,21"> </div>
                  <div rel="5,22"> </div>
                  <div rel="5,23"> </div>
                  <div rel="5,24"><svg baseProfile="full" xmlns="http://www.w3.org/2000/svg" version="1.1" style="width:100%; height:100%"><line x1="0" y1="0" x2="100%" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width:3;"></line><line x1="100%" y1="0" x2="0" y2="100%" style="stroke-linecap: round; stroke: #23527c; stroke-width: 3;"></line></svg></div>
                  <div rel="5,25"> </div>
                  <div rel="5,26"> </div>
                  <div rel="5,27"> </div>
                  <div class="celda primera-linea" rel="6,0"> </div>
                  <div rel="6,1"> </div>
                  <div rel="6,2"> </div>
                  <div rel="6,3"> </div>
                  <div rel="6,4"> </div>
                  <div rel="6,5"> </div>
                  <div rel="6,6"> </div>
                  <div rel="6,7"> </div>
                  <div rel="6,8"> </div>
                  <div rel="6,9"> </div>
                  <div rel="6,10"> </div>
                  <div rel="6,11"> </div>
                  <div rel="6,12"> </div>
                  <div rel="6,13"> </div>
                  <div rel="6,14"> </div>
                  <div rel="6,15"> </div>
                  <div rel="6,16"> </div>
                  <div rel="6,17"> </div>
                  <div rel="6,18"> </div>
                  <div rel="6,19"> </div>
                  <div rel="6,20"> </div>
                  <div rel="6,21"> </div>
                  <div rel="6,22"> </div>
                  <div rel="6,23"> </div>
                  <div rel="6,24"> </div>
                  <div rel="6,25"> </div>
                  <div rel="6,26"> </div>
                  <div rel="6,27"> </div>
              </div>
