/**
 *
 * src: resources/sass/
 * 
 * dst: public/styles/
 * 
 */

//@import "flask-material";

@mixin cruz($w, $h, $left, $top, $deg: 0, $color: transparent) {
		
	background: $color;
	height: $h;
	width: $w;
	
	border-radius: 35%;
	border: 1px solid rgba($color, 0.5);

	transform: translate($left, $top) rotateZ($deg + deg);
	transform-origin: center;
	
	position: absolute;
	top: 50%;
	left: 49%;
	
    z-index: 1;
}


@mixin linea($w: 100%, $h: 2px, $top: initial, $right: initial, $bottom: initial, $left: initial, $pos: absolute) {
	width: $w;
	height: $h;
	
	border-radius: 40%;
	border: 1px solid rgba(transparent, 0.5);
	
	position: $pos;
    top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
	z-index: 1;
}

@mixin circulo($w, $h, $r, $unit: '%') {
	width: $w + unquote($unit);
	height: $h + unquote($unit);
	border-radius: $r + unquote($unit);
	border: 1px solid rgba(transparent, 0.5);
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.cruz1, .diagonal1 {
	@include cruz(5px, 155%, -50%, -50%, 45);	
}
.cruz2, .diagonal2 {
	@include cruz(5px, 155%, -50%, -50%, 135);	
}

.linea_arriba {
	@include linea(110%, 2px, 0);
}
.linea_abajo {
	@include linea(100%, 2px, null, null, 0);
}
.linea_izquierda {
	@include linea(2px, 100%, null, null, null, 0);
}
.linea_derecha {
	@include linea(2px, 100%, null, 0, null, null);
}
.linea_horizontal {
	@include linea(100%, 2px, 41%, null, 41%, null);
	margin: auto;
}
.linea_vertical {
	@include linea(2px, 100%, null, null, null, null, relative);
	margin: auto;
}
.circulo {
	@include circulo(100, 100, 50);
}
.rasti_hor, .rasti_vert {
	width: 100%;
	height: 100%;
	border: 1px solid rgba(100,100,100,0.25);
	box-shadow: 0px 2px rgba(100,100,100,0.25) inset;
	border-radius: 2px;
	position: relative;
}

