/**
 *
 * src: resources/sass/
 * 
 * dst: public/styles/
 * 
 */

@mixin cruz($w, $h, $tx, $ty, $deg, $color: transparent) {
	
	$tx: 0;
	$ty: 0;
	
	background: $color;
	height: $h;
	width: $w;
	border-radius: round($w / 2);
    border: 1px solid rgba($color, 0.5);

	transform: rotateZ($deg + deg) translate($tx, $ty);
	transform-origin: center;
	
	position: absolute;
	left: 7px;
	bottom: -6px;
    z-index: 1;
}


.cruz1 {
	@include cruz(5px, 30px, 0px, -7px, 45);	
}
.cruz2 {
	@include cruz(5px, 30px, -7px, 0px, 135);	
}